li:first-letter {
	text-transform: uppercase;
}
#language {
	position: absolute;
	width: 48px;
	height: 48px;
	top: 45px;
	left: 50%;
	transform: translate(-50%,-50%);
	border-radius: 50%;
	cursor: hand;
	cursor: pointer;
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	box-shadow: 0 2px 2px rgba(0,0,0,0.5);
	z-index: 10;
}
#language #language-menu-container {
	position: absolute;
	background-color: #efefeff4;
	box-shadow: 0 10px 40px -10px #000000;
	border-radius: 6px;
	z-index: 100;
	top: 100%;
	left: 0;
	transform: translate(0,10px);
	overflow: hidden;
}
#language #language-menu-container a {
	font-weight: normal;
	text-decoration: none;
	color: blue;
	display: block;
	line-height: 16px;
	padding: 8px 10px;
}
#language #language-menu-container a:not(.selected):hover {
	background-color: white;
	color: black;
}
#language #language-menu-container a:last-child {
	border-bottom: 0;
}
#language #language-menu-container a.selected {
	background-color: lightgrey;
	cursor: default;
	text-decoration: none;
	color: black;
}
#language #language-menu-container.left {
	left: 0;
	transform: translate(0,8px);
}
#language #language-menu-container.right {
	left: 100%;
	transform: translate(-100%,8px);
}
#language #language-menu-container.center {
	left: 50%;
	transform: translate(-50%,8px);
}
#language #language-menu-container.center a {
	text-align: center;
}
#language #language-menu-button {
	display: inline-block;
	width: 100%;
	height: 100%;
}
#language[culture=nl] {
	background-image: url('../images/flags/nl.svg');
}
#language[culture=nl-FY] {
	background-image: url('../images/flags/nl-FY.svg');
}
#language[culture=nl-BE] {
	background-image: url('../images/flags/be.svg');
}
#language[culture=en] {
	background-image: url('../images/flags/en.svg');
}
#language[culture=fr] {
	background-image: url('../images/flags/fr.svg');
}
#language[culture=it] {
	background-image: url('../images/flags/it.svg');
}
#language[culture=de] {
	background-image: url('../images/flags/de.svg');
}
#language[culture=es] {
	background-image: url('../images/flags/es.svg');
}
#language[culture=ar] {
	background-image: url('../images/flags/ar.svg');
}
body[direction=rtl] #language-menu-container.left {
	left: 100%;
	transform: translate(-100%,8px);
}
